- name: RustFS Setup | Fail fast if variables are not set
  ansible.builtin.fail:
    msg: "You need to specifcy the path to certificate and key to use"
  when:
    - rustfs_configure_ssl
    - rustfs_cert_path is not defined or rustfs_cert_path == ""
    - rustfs_key_path is not defined or rustfs_key_path == ""

- name: RustFS Setup | Ensure RustFS container is not present already
  containers.podman.podman_container:
    name: rustfs
    state: absent

- name: RustFS Setup | Ensure podman network is not present
  containers.podman.podman_network:
    name: rustfs
    state: absent

- name: RustFS Setup | Configure podman network
  containers.podman.podman_network:
    name: rustfs
    disable_dns: false
    internal: false
    recreate: false
    state: present

- name: RustFS Setup | Ensure podman volume is not present
  containers.podman.podman_volume:
    name: "{{ item }}"
    state: absent
  loop:
    - rustfs-data

- name: RustFS Setup | Configure podman volume
  containers.podman.podman_volume:
    name: "{{ item }}"
    state: present
  loop:
    - rustfs-data

- name: RustFS Setup | Configure TLS
  when: rustfs_configure_ssl
  block:

    - name: RustFS Setup | Create certs directory
      when:
        - rustfs_configure_ssl
      ansible.builtin.file:
        state: directory
        path: ./certs
        mode: "0775"
        recurse: true

    - name: RustFS Setup | Configure certs for https
      when:
        - rustfs_configure_ssl
      ansible.builtin.copy:
        src: "{{ item.source }}"
        dest: ./certs/{{ item.dest }}
        mode: "0775"
      loop:
        - source: "{{ rustfs_cert_path }}"
          dest: rustfs_cert.pem
        - source: "{{ rustfs_key_path }}"
          dest: rustfs_key.pem

- name: RustFS Setup | Create rustfs container
  containers.podman.podman_container:
    name: rustfs
    network:
      - rustfs
    volume:
      - rustfs-data:/data
      - "{{ './certs:/certs:Z,U' if rustfs_configure_ssl else '' }}"
    image: docker.io/rustfs/rustfs
    ports:
      - "{{ rustfs_api_port | default(9000, true) }}:{{ rustfs_api_port | default(9000, true) }}"
      - "{{ rustfs_console_port | default(9001, true) }}:{{ rustfs_console_port | default(9001, true) }}"
    env:
      RUSTFS_ACCESS_KEY: "{{ rustfs_root_user | default('rustfsadmin', true) }}"
      RUSTFS_SECRET_KEY: "{{ rustfs_root_password | default('rustfsadmin', true) }}"
      RUSTFS_CONSOLE_ENABLE: "{{ rustfs_console_enable | default(true, true) }}"
      RUSTFS_SERVER_DOMAINS: "{{ rustfs_server_domain | default(omit, true) }}"
      RUSTFS_TLS_PATH: "{{ rustfs_tls_path | default('/certs', true ) }}"
      RUSTFS_CONSOLE_ADDRESS: "0.0.0.0:{{ rustfs_console_port | default(9001, true) }}"